<title>Birthbook</title>
<link id="favicon" rel="icon" href="hhttps://cdn.glitch.com/1de69b23-dae0-45d6-ab4c-551066dcb98e%2Fbirthbook.png?1535189726321" type="image/png">

<meta name="description" content="Collect Birthdays with ease">
<meta property="og:image" content="https://cdn.glitch.com/1de69b23-dae0-45d6-ab4c-551066dcb98e%2Fbirthbook.png?1535189726321"/>  
<meta property="og:title" content="Birthbook"/>
<meta property="og:description" content="Collect Birthdays with ease"/>

<!-- icon in the highest resolution we need it for -->
<link rel="icon" sizes="192x192" href="https://cdn.glitch.com/1de69b23-dae0-45d6-ab4c-551066dcb98e%2Fbirthbook.png?1535189726321">

<!-- multiple icons for IE -->
<meta name="msapplication-square310x310logo" content="https://cdn.glitch.com/1de69b23-dae0-45d6-ab4c-551066dcb98e%2Fbirthbook.png?1535189726321">

<!-- theme color -->
<meta name="theme-color" content="#E37222CC">

<!-- APPLE -->
<link rel="apple-touch-icon" href="https://cdn.glitch.com/1de69b23-dae0-45d6-ab4c-551066dcb98e%2Fbirthbook.png?1535189726321">
<link rel="apple-touch-startup-image" href="https://cdn.glitch.com/1de69b23-dae0-45d6-ab4c-551066dcb98e%2Fbirthbook.png?1535189726321">
<link rel="apple-touch-icon" sizes="57x57" href="https://cdn.glitch.com/1de69b23-dae0-45d6-ab4c-551066dcb98e%2Fbirthbook.png?1535189726321">
<link rel="apple-touch-icon" sizes="114x114" href="https://cdn.glitch.com/1de69b23-dae0-45d6-ab4c-551066dcb98e%2Fbirthbook.png?1535189726321">
<link rel="apple-touch-icon" sizes="72x72" href="https://cdn.glitch.com/1de69b23-dae0-45d6-ab4c-551066dcb98e%2Fbirthbook.png?1535189726321">
<link rel="apple-touch-icon" sizes="144x144" href="https://cdn.glitch.com/1de69b23-dae0-45d6-ab4c-551066dcb98e%2Fbirthbook.png?1535189726321">
<link rel="apple-touch-icon" sizes="60x60" href="https://cdn.glitch.com/1de69b23-dae0-45d6-ab4c-551066dcb98e%2Fbirthbook.png?1535189726321">
<link rel="apple-touch-icon" sizes="120x120" href="https://cdn.glitch.com/1de69b23-dae0-45d6-ab4c-551066dcb98e%2Fbirthbook.png?1535189726321">
<link rel="apple-touch-icon" sizes="76x76" href="https://cdn.glitch.com/1de69b23-dae0-45d6-ab4c-551066dcb98e%2Fbirthbook.png?1535189726321">
<link rel="apple-touch-icon" sizes="152x152" href="https://cdn.glitch.com/1de69b23-dae0-45d6-ab4c-551066dcb98e%2Fbirthbook.png?1535189726321">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- import the webpage's stylesheet -->
<link rel="stylesheet" href="/style.css">