<!-- Mandatory css / colors / viewport / etc.. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/style.css">
<meta name="theme-color" content="#E37222CC">

<!-- SEO -->
<title>Birthbook</title>
<meta name="description" content="Birthbook collects birthdays with ease. Automatically generate calendar list for all birthday from friends and family.">

<!-- iPhone / Safari / IES / Chrome -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/images/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/browserconfig.xml">

<!-- Social graph -->
<meta property="og:image:width" content="279">
<meta property="og:image:height" content="279">
<meta property="og:title" content="Birthbook">
<meta property="og:description" content="Birthbook collects birthdays with ease. Automatically generate calendar list for all birthday from friends and family.">
<meta property="og:image" content="/images/og-image.jpg">
<meta property="og:url" content="https://birthbook.herokuapp.com/">

<!-- Twitter -->
<meta name="twitter:card" content="Birthbook collects birthdays with ease. Automatically generate calendar list for all birthday from friends and family.">
<meta name="twitter:url" content="https://birthbook.herokuapp.com">
<meta name="twitter:title" content="Birthbook">
<meta name="twitter:description" content="Birthbook collects birthdays with ease. Automatically generate calendar list for all birthday from friends and family.">
<meta name="twitter:image" content="https://pbs.twimg.com/profile_images/579067924855582720/mgLbV-YI_400x400.png">
<meta name="twitter:site" content="@QVDev">
<meta name="twitter:creator" content="@QVDev">
