/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}



html, body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
/*   background-color:rgb(255,255,255); */
/*   https://pattern.flaticon.com/ */
  background-image: url("https://cdn.glitch.com/1de69b23-dae0-45d6-ab4c-551066dcb98e%2Fvectorpaint.svg?1535890608013"); 
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;    
}

header {
  height: 13em;
/*   background-color:rgb(241,243,237,0.80); */
}

main {
    flex: auto;
    text-align: center;
/*     background-color:rgb(241,243,237,0.80); */
}

footer {
    height: 5em; 
}

h1,h2,h3,h4 {
  font-style: italic;
  color: black;
  text-align: center;
  width: 100%;
  font-size: 16px;
}

.welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bold {
  font-weight: bold;
}

form {
  margin: 2%;
/*   background-color: #E37222AA; */
  display: inline-block;
/*   width: 100%; */
/*   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38); */
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 75%;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  border: 2px solid #E37222;
  background: #E37222;
  margin-left: auto;
  margin-right: auto;
  color:white;
  height: 40px;
  min-width:300px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey;
    opacity: 1; /* Firefox */
}

button {
  font-size: 16px;
  cursor: pointer;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width:300px;
  height: 40px;
  border: none;
  background: #779598;
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 100;
  padding: 10px;
  border-radius: 6px;
}

button:hover {
color: #000000 !important;
background: rgb(241,243,237);
border-color: #F1F3ED !important;
transition: all 0.4s ease 0s;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  height: 5em; 
  text-align: center;
/*   background-color:#F1F3EDAA; */
  margin-top: 0px;
  padding-top: 0px;
  border-top: 0px solid lightgrey;
}

dt::before {
       content: "Question: ";
   } 
   dd::before {
       content: "Answer: ";
   }

