<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <% include ../partials/analytics %>
    <script src="/create.js" defer></script>    
  </head>
  <body>    
    <header>
      <h1>
        Forgetting birthdays?
      </h1>
      <h2>
        Use Birthbook
      </h2>
      <br>
      <h4>
        Keep all your birthdays in one place. One simple link is all you need.
      </h4>        
    </header>

    <main>
      <form id="create-birthday">
        <button type="submit" id="submit-dream">Get Started</button>
      </form>
      <br>
      Take a look at <a href="http://birthbook.me/faq" target="_blank">FAQ</a>      
      <br>
      <br>
      <% include ../partials/welcome %>
    </main>
    <% include ../partials/social %>
    <% include ../partials/raven %>
  </body>
</html>
