<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <% include ../partials/analytics %>
    <script src="/create.js" defer></script>    
  </head>
  <body>    
    <header>
      <h1>
        Forgetting birthdays?
      </h1>
      <h2>
        Use Birthbook        
      </h2>
      <br>
      <h4>
        Online birthday calendar. Birthdays tracker for friends and family.
      </h4>        
    </header>
    <main>
      <div class="flex-container">
        <div class="left">          
          <h2>
            Start collecting birthdays now:
          </h2>
          1. Create personal list. <b>"Get started"</b><br>
          2. Share link with friends, family & co-workers.<br>
          3. View birthdays and add them to calendar.<br>
          <br>
          Take a look at <a href="http://birthbook.me/faq" target="_blank">FAQ</a> for more info
          <br>
          <br>
        </div>
        <div>
          <% include ../partials/welcome %>
          <form id="create-birthday">
            <button type="submit" id="submit-dream">Get Started</button>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <%- include('../partials/social', {shareLink: 'http://birthbook.me', text:"Never forget birthdays again.."}); %>
      <% include ../partials/raven %>
    </footer>
  </body>
</html>
