<header>
  <% include ../partials/welcome %>
  <h4>
    <b>Thank you!!</b>
  </h4>
</header>
<main>
  <h4>
    Share the following link with friends and family:
    <p>
      <a href="<%= bdayId %>" target="_blank"><%= bdayId %></a>
    </p>
  </h4>
</main>
