<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <% include ../partials/analytics %>
    <script src="/create.js" defer></script>
  </head>
  <body>    
    <header>
      <% include ../partials/welcome %>
      <h4>
        Collect birthdays from friends and family with ease.
      </h4>
    </header>

    <main>
      <form id="create-birthday">
        <input name="email" type="email" required maxlength="100" placeholder="Type your email here..." aria-labelledby="submit-dream">
        <button type="submit" id="submit-dream">Create list...</button>
      </form>
      <br>
      <i>*Email is required so we can sent you the birthday list</i>
      <br>
      <br>
      Take a look at <a href="http://birthbook.me/faq" target="_blank">FAQ</a>
    </main>
    <% include ../partials/social %>
  </body>
</html>
