<header>
  <% include ../partials/welcome %>
  <h1>
    <b>Thank you!!</b>
  </h1>
</header>
<main>
  <h1>
    Share the following link with friends and family:
    <p>
      <a href="<%= bdayId %>" target="_blank"><%= bdayId %></a>
    </p>
    <p>
      <a href="whatsapp://send?text=<%= bdayId %>">Share on whatsapp</a>
    </p>
  </h1>
</main>
<% include ../partials/social %>
