<header>
  <% include ../partials/welcome %>
  <h4>
    <b>Thank you!!</b>
    <br>
    <a href="https://birthbook.herokuapp.com">Create your own Birthday list</a>
  </h4>
</header>
<main>
  
</main>
