<header>
  <% include ../partials/welcome %>
  <h1>
    <b>Thank you!!</b>
    <br>
  </h1>
</header>
<main>
      <a href="/">Create your own Birthday list</a>
</main>
<% include ../partials/social %>
<% include ../partials/raven %>
