<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <% include ../partials/analytics %>
  </head>
  <body>    
    <header>
      <% include ../partials/welcome %>
      <h1>
        FAQ
      </h1>
    </header>     
    <main> 
      <div class="faq">
        <dl>
          <b><dt>What is Birthbook?</dt></b>
              <dd>With Birthbook you take the hassle out of collecting birthday dates.</dd>
          <br>
          <b><dt>How do I get the birthday list?</dt></b>
              <dd>When you create a list you will get a link and that link is privatly for you. With that link you see all collected birthdays. So bookmark it.</dd>
          <br>
          <b><dt>How does it work?</dt></b>
              <dd>Create a list <a href="/">here</a>. And then share the link via email or any messanger app to family and friends 
                The receiver fills in the name and date and thats it.</dd>
          <br>
          <b><dt>Can I make my private url more readable?</dt></b>
              <dd>Yes at the bottom of your private collected birthdays page you can give it a preffered name. But keep it private. For beta this is a free feature, so take advantage.</dd>
          <br>
          <b><dt>Can I make share url more readable?</dt></b>
              <dd>Not yet, due privacy issues. We are working on this to make this available for you a.s.ap.</dd>
          <br>          
          <b><dt>What is the status?</dt></b>
              <dd>The app is in beta, and we will improve it. We try to ensure data is migrated to production, but we cannot fully guarantee this.</dd>
          <br>
            <b><dt>What is happening with my data?</dt></b>
              <dd>We have no intention to share this with anyone beside the creator of the list</dd>
          <br>
          <b><dt>Contact?</dt></b>
          <dd><a href="mailto:admin@birthbook.me">email</a></dd>
          <br>
        </dl>
      </div>
    </main>
    <footer>
      <%- include('../partials/social', {shareLink: 'http://birthbook.me', text:"Never forget birthdays again.."}); %>
      <% include ../partials/raven %>
    </footer>
  </body>
</html>
