<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <% include ../partials/analytics %>
  </head>
  <body>    
    <header>
      <% include ../partials/welcome %>
      <h4>
        FAQ
      </h4>
    </header>     
    <main>   
      <dl>
        <b><dt>What is Birthday Collector?</dt></b>
            <dd>With Birthday Collector you take the hassle out of getting birthday dates.</dd>
        <br>
        <b><dt>How do I get the birthday list?</dt></b>
            <dd>We will sent you to the provided email address a compatible iCAL or Google Calendar file that you can import.</dd>
        <br>
        <b><dt>How does it work?</dt></b>
            <dd>Create a list <a href="/">here</a>. And then share the link via email or any messanger app to family and friends 
              The receiver fills in the name and date and thats it. 
              After one week we will sent a file that you can import to your calendar app.</dd>
        <br>
        <b><dt>What is the status?</dt></b>
            <dd>The app is in beta, en we will improve it. We try to ensure data is migrated to production, but we cannot fully guarantee this.</dd>
        <br>
          <b><dt>What is happening with my data?</dt></b>
            <dd>We have no intention to share this with anyone beside the creator of the list</dd>
        <br>
        <b><dt>Contact?</dt></b>
        <dd><a href="mailto:admin@birthbook.me">email</a></dd>
        <br>
    </dl>
    </main>
  </body>
</html>
